{
	"trailingComma": "es5",
	"printWidth": 80,
	"tabWidth": 4,
	"useTabs": true,
	"singleQuote": true,
	"overrides": [
		{
			"files": "{.prettierrc,.babelrc}",
			"options": { "parser": "json" }
		}
	]
}
